
<p id="notice"><%= notice %></p>

<body>

<%= render 'shared/show', event: @event %>




 <% if current_user == @event.user %> 
      <%= link_to 'Participant list', event_attendances_path(@event) %>  
      <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %> 
    <%= link_to 'Back', events_path(@event) %>

    </body>