<p id="notice"><%= notice %></p>

<div class="jumbotron" style="background-image: url(https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?cs=srgb&dl=audience-band-concert-1105666.jpg&fm=jpg); background-size: 100%;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <section class="card frame">
          <div class="card-body">
            <h5 class="card-title">
                <% if @event.user_id == current_user %> <span class="badge badge-secondary bg-danger">Admin</span><% end %>
              </strong>
            </h5>

            
            <p><i class="fas fa-map-marker-alt text-warning"></i>  <%= @event.location %></p>
            <p>Créé par <em><%= @event.user.first_name %> <%= @event.user.last_name %></em> <%= @event.user.email %> </p>
            <p><%= @event.users.count %> personnes participent à cet évenement </p>
            <p>
              début : <%= @event.start_date %>
            </p>
            <p>
              fin : <%= end_date %>
            </p>
               

            <div class="container bg-light border border-info rounded">
              <p><strong>Description:</strong></p>
              <p><%= @event.description %></p>
            </div>
    

            <%= link_to "Modifier l'évènement", edit_event_path(@event), class:"btn btn-primary mt-1" %> 
            <%= link_to "Supprimer l'évènement", @event, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger mt-1" %>
            <%= link_to 'Retour', event_path(@event) %>


 <div class="container text-center">
	<h1>Attendees</h1>
	<table class="table">
	  <thead class="thead-light">
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">First Name</th>
	      <th scope="col">Last Name</th>
	      <th scope="col">Email</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @event.users.each_with_index do |attendee, index| %>
	    <tr>
	      <th scope="row"><%= index+1 %></th>
	      <td><%= attendee.first_name %></td>
	      <td><%= attendee.last_name %></td>
	      <td><%= attendee.email %></td>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
</div>

<br>


   <%= link_to "Modifier l'évènement", edit_event_path(@event), class:"btn btn-primary mt-1" %> 
            <%= link_to "Supprimer l'évènement", @event, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger mt-1" %>
            <%= link_to 'Retour', event_path(@event) %>
